.top{
    background-color:lightgray;
    color:white;
    font-family:arial;
    width:520px;
    height:50px;
    padding-bottom:15px;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    margin-left:100px;
    border:2px solid lightgray;
    text-align: left;
}
.main{
    margin-left:100px;
    padding:10px;
    width:500px;
    border-left:2px solid lightgray;
    border-right:2px solid lightgray;
    text-align: left;
}
.last{
    background-color:lightgray;
    margin-left:100px;
    height:50px;
    border:2px solid lightgray;
    padding-top:15px;
    width:520px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
}
.inside-head::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  line-height: 0;
}

.inside-head {
  margin-left: 50px;
  margin-right: 50px;
}
.head hr{
  margin-right: 50px;
  margin-left: 50px;
}

.head-left {

  float: left;
}
.head-left h2 {
  padding: 14px 16px;
  color: mediumaquamarine;

}
.head-right {
  float: right;
}

.head-right a{
  color: mediumaquamarine;
}
ul {
  list-style-type: none;
  overflow: hidden;
}

li a {
  display: block;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

li a:hover{
  background-color:     ;
}

li {
  float: left;
}
select{
    margin-left:30px;
    margin-top: 16px;
    margin-bottom:16px;
    border: 0px;
    border-radius:4px;
    background-color:mediumaquamarine;
    color:white;
    font-size:15px;
    width:420px;
    height:30px;
    padding-left:10px;
}
option{
    color: black;
    background: white;
}
input, textarea{

    border: 2px solid lightgray;
}
.items{
    margin-left:30px;
    margin-top:16px;
    margin-bottom:16px;
    border-radius:6px;
    height:30px;
    width:420px;
}